.thumbnail-cards {
	border: 1px solid $border-color-gray;
	border-radius: 4px;
	position: relative;
}
.cards-info {
	position: absolute;
	top:0;
	right:0;
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	line-height: 43px;
	height:43px;
	padding-left: 20px;
	padding-right: 30px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 5px;
	color: rgba(255,255,255,.7);
	font-size: 13px;
	img {
		margin-right: 10px;
	}
}
.caption-cards {
	padding-left: 17px;
	padding-right: 17px;
}
.row-caption-cards {
	margin-top: 28px;
	margin-bottom: -7px;
}
.btn-twoline {
	font-size: 12px;
	white-space: normal;
	padding-left: 10px;
	padding-right: 10px;
	cursor: inherit;
	color: #0da646;
	background-color: #fff;
	border-color: #0da646;
	&:hover, &:focus {
		color: #0da646;
		background-color: #fff;
		border-color: #0da646;
	}
	&:active {
		box-shadow:none;
	}
}
.btn-twoline-green {
	strong, span {
		text-align: center;
		display: block;
		color:#fff;
	}
	strong {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
	}
	span {
		font-weight: normal;
		font-size: 10px;
	}
}
.col-cards {
	padding-left: 10px;
	padding-right: 10px;
}
.caption-footer {

	border-top: 1px solid $border-color-gray;
	background-color: #f8f9f9;
	padding: 20px 17px 16px;
}
.cards-clinic-logo {
	width: 45px;
	height: 45px;
}
.media-cards-clinic {
	margin-bottom: 0;
}
.row-cards {
	margin-top: 15px;
	margin-left: -15px;
	margin-right: -15px;
	.col-sm-6, .col-xs-6 {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.badge-cards {
	margin-top: 13px;
	position: relative;
	left:-8px;
}
.text-consalt {
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 30px;
	img {
		margin-right: 20px;
	}
	.badge {
		margin-left: 20px;
	}
}