$text-darkblue: #211b70;
$text-green: #0da646;
$text-gray: #888;
$text-light-gray: #555;
$border-color-gray: #eaeef3;


@import "main";
@import "cards";
@import "type";

.inner-krosto {
  width: 1180px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-side {
	padding-left: 0;
	padding-right: 0;
}
.header .krosto-city-changer {
	position: relative;
	.city-changer {
		position: relative;
		top:0;
		padding: 16px 15px;
	}
}
.form-inline .form-control-forgot {
	width: 450px;
	margin-right: 20px;
}
.btn {
	padding-bottom: 7px; 
}
.btn-instr {
	padding-left: 35px;
	padding-right: 35px;
	text-transform: uppercase;
}
.text-forgot {
	margin-top: 20px;
}
.navbar-nav.nav.navbar-login {
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 20px;
}
.jumbotron .tab-content.tab-content-krosto {
	border-radius: 4px;
}
.row-last {
	margin-bottom: 20px;
}