$text-darkblue: #211b70;
$text-green: #0da646;
$text-gray: #888;
$text-dark: #010101;
$text-light-gray: #555;
$border-color-gray: #eaeef3;


@import "glyphicons";
@import "main";
@import "cards";
@import "type";
@import "auth";
@import "profile";


.inner-krosto {
  width: 1180px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-side {
	padding-left: 0;
	padding-right: 0;
}
.header .krosto-city-changer {
	position: relative;
	.city-changer {
		position: relative;
		top:0;
		padding: 16px 15px;
	}
}
.form-inline .form-control-forgot {
	width: 450px;
	margin-right: 20px;
}
/* .btn {
	padding-bottom: 7px; 
} */
.btn-instr {
	padding-left: 35px;
	padding-right: 35px;
}
.text-forgot {
	margin-top: 20px;
}
.navbar-nav.nav.navbar-login {
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 20px;
}
.jumbotron .tab-content.tab-content-krosto {
	border-radius: 4px;
}
.row-last {
	margin-bottom: 20px;
}

.container-authmodal {
	position: relative;

}
.auth_backdrop {
	position: absolute;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index: 1100;
}
.my_auth_modal {
	display: none;
	position: absolute;
	z-index: 1102;
	.modal-dialog {
		width: 760px;
		height: 420px;
		margin: 0 auto;
		margin-top: 100px;
	}
	.modal-body {
		padding: 0;
		position: relative;
		.close {
			position: absolute;
			right: 8px;
			top: 5px;
			z-index: 1101;
		}
	}

}
.my_info {
	padding: 1px 0px 0px 52px;
	margin-top: 28px;
	background-position: left top;
	background-repeat: no-repeat;
	&:last-of-type {
		margin-bottom: 35px;
	}
}
.my_message {
	background-image: url(../img/my_info.png);
}
.my_profile {
	background-image: url(../img/my_profile.png);
}
.header .city-changer-menu {
	text-align: right;
  	width: 120px;
	ul {
		text-align:left;
  		right: -20px;
  		left:inherit;
  		li {
  			a {
  				display:inline;
	  			&:hover, &:focus {
					border-bottom: 1px solid #e3e3e3; 
					text-decoration: none;
	  			}
  			}
  		}
  		li:first-child {
  			a {
  				border-bottom: 1px solid #e3e3e3; 
  			}
  		}
	}
}
.header .city-changer-cities {
	width: 190px;
	ul {
		position: absolute;
		left:-1px;
		top: 3px;
		li {
			a {
				display:inline;
	  			&:hover, &:focus {
					border-bottom: 1px solid #e3e3e3; 
					text-decoration: none;
	  			}
			}
			&.selected {
				border-bottom: none;
			}
	  		&:first-child {
	  			a {
	  				border-bottom: 1px solid #e3e3e3; 
	  			}
	  		}
		}
	}
}
button::-moz-focus-inner, a::-moz-focus-inner {
  border: 0;
}
a:focus, button:focus  { 
    outline: none; 
}
.about_reviews {
  padding-left: 0;
  text-align: center;
  .media-body {
  	width: 100%;
  	display: block;
  }
}