doctype html
html
  head
    == Slim::Template.new("head.slim").render
  body
    == Slim::Template.new("navbar.slim").render
    .container-fluid.borderbot.bordertop
      .jumbotron.about
        .container.text-center
          h1 Doctu.ru - уникальный сервис по поиску врача и записи на прием к нему!
          p.lead У нас Вы с легкостью найдете нужного специалиста или клинику, а также сможете записаться на прием за два клика мышкой.
          .row
            .col-xs-3.col-xs-offset-2
              .icogreenTransp.icoGr1
              h3 8000
              p Врачей
            .col-xs-3
              .icogreenTransp.icoGr2
              h3 450
              p Клиник
            .col-xs-3
              .icogreenTransp.icoGr3
              h3 7000
              p Отзывов
            .col-xs-3
              .icogreenTransp.icoGr4
              h3 50 000
              p Записавшихся
          .row
            .col-xs-12
              .btn.btn-success Найти врача
      .container
        .row
          .col-xs-12
            h2.text-center Почему мы
            p.text-center.lead На сайте представлены анкеты более чем 1500 специалистов из 100 клиник города.  Из них Вы можете выбрать врача, отвечающего именно Вашим требованиям.
            .row.why_we
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi1
                  .media-body
                    h4.media-heading Единая база
                    p Больше не надо просматривать десятки сайтов клиник - мы собрали врачей всех крупных клиник города на одном сайте! Вам остается только выбрать подходящего и записаться на прием.
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi2
                  .media-body
                    h4.media-heading Подбор специалиста
                    p Вы можете поручить эту работу нашим специалистам! Они в считанные минуты подберут несколько вариантов, подходящих под Ваши требования, а также сразу уточнят у клиники ближайшее свободное время для записи.
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi3
                  .media-body
                    h4.media-heading Всё бесплатно
                    p Для пользователей работа с сайтом абсолюtтно бесплатна. Все расходы берут на себя наши клиники-партнеры.
              .clearfix
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi4
                  .media-body
                    h4.media-heading Простота и удобство
                    p Ullam, cupiditate qui sequi harum illo quas enim delectus nihil excepturi voluptates, ducimus! Accusantium ea beatae, doloremque delectus optio ad!
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi5
                  .media-body
                    h4.media-heading Скидки от партнеров
                    p Reprehenderit debitis, culpa. Animi inventore deleniti quo id quia, nobis autem maxime, ducimus expedita ipsum eligendi nihil eius sequi nostrum.
              .col-xs-4
                .media
                  span.media-left
                    i.bigGrIco.bgi6
                  .media-body
                    h4.media-heading Запись по ОМС
                    p Similique ullam porro obcaecati, enim animi atque dolor recusandae consequuntur reprehenderit explicabo aut nemo facilis non sint voluptatibus incidunt officia?
      .container.drk.borderbot
        .container.comments_about_us
          .row
            .col-xs-12
              h2.text-center Отзывы о нас
              p.text-center.lead Для пользователей работа с сайтом абсолютно бесплатна. Все расходы берут на себя наши клиники-партнеры.
          .row
          #carousel-example-generic.carousel.slide data-ride="carousel" 
            .carousel-inner.about_carousel
              .item.active
                .row
                  .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.col-xs-8.col-xs-offset-2
                    .media.about_reviews
                      span.pull-left
                        img.media-object alt="..." height="110" src="https://cdn.doctu.ru/images/thumb/74x110/74x110-609ec0d873a35d6d05a59faeb896b4bf.jpg" width="74" /
                      .media-body
                        h4.media-heading
                          strong Маслов
                          | Александр Сергеевич
                    p.text-center
                      span.blockquote
                        | «От нашей семьи большое спасибо Вашей компании за оперативность и четкость! Впредь будем обязательно к Вам обращаться.»
              .item
                .row
                  .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.col-xs-8.col-xs-offset-2
                    .media.about_reviews
                      span.pull-left
                        img.media-object alt="..." height="110" src="https://cdn.doctu.ru/images/thumb/74x110/74x110-609ec0d873a35d6d05a59faeb896b4bf.jpg" width="74" /
                      .media-body
                        h4.media-heading
                          strong Маслов
                          | Александр Сергеевич
                    p.text-center
                      span.blockquote
                        | «От нашей семьи большое спасибо Вашей компании за оперативность и четкость! Впредь будем обязательно к Вам обращаться.»
              .item
                .row
                  .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.col-xs-8.col-xs-offset-2
                    .media.about_reviews
                      span.pull-left
                        img.media-object alt="..." height="110" src="https://cdn.doctu.ru/images/thumb/74x110/74x110-609ec0d873a35d6d05a59faeb896b4bf.jpg" width="74" /
                      .media-body
                        h4.media-heading
                          strong Маслов
                          | Александр Сергеевич
                    p.text-center
                      span.blockquote
                        | «От нашей семьи большое спасибо Вашей компании за оперативность и четкость! Впредь будем обязательно к Вам обращаться.»
            /! Controls
            a.left.carousel-control data-slide="prev" href="#carousel-example-generic" role="button" 
              span.arrow-left
            a.right.carousel-control data-slide="next" href="#carousel-example-generic" role="button" 
              span.arrow-right
      .container.borderbot.media_about_us
        .row
          .col-xs-12
            h2.text-center СМИ о нас
            p.text-center.lead Для пользователей работа с сайтом абсолютно бесплатна. Все расходы берут на себя наши клиники-партнеры.
        .row.media_about_list
          .col-md-12.text-left
            ul
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN1
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN2
                .media-body
                  a.media-link href="#"  Это просто прорыв года
                  p http://doctu.ru/about
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN4
                .media-body
                  a.media-link href="#"  Никаких очередей, запись по ОМС
                  p https://vk.com/im?pee=124627169
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN2
                .media-body
                  a.media-link href="#"  Это просто прорыв года
                  p http://doctu.ru/about
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN4
                .media-body
                  a.media-link href="#"  Никаких очередей, запись по ОМС
                  p https://vk.com/im?pee=124627169
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN1
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN2
                .media-body
                  a.media-link href="#"  Это просто прорыв года
                  p http://doctu.ru/about
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN4
                .media-body
                  a.media-link href="#"  Никаких очередей, запись по ОМС
                  p https://vk.com/im?pee=124627169
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN2
                .media-body
                  a.media-link href="#"  Это просто прорыв года
                  p http://doctu.ru/about
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN4
                .media-body
                  a.media-link href="#"  Никаких очередей, запись по ОМС
                  p https://vk.com/im?pee=124627169
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
              li.media.col-xs-4
                span.media-left
                  i.book_ico.icoN3
                .media-body
                  a.media-link href="#"  Записатька ко врачу можно в 1 клик
                  p https://dribbble.com/shots/1251630
              li.media.col-xs-4
                span.media-left
                  i.book_ico
                .media-body
                  a.media-link href="#"  Обзор нового интернет сервиса Doctu.ru
                  p https://mail.google.com/mail/u/0/#inbox
        .row.more_public
          .col-xs-12.text-center
            .btn.btn-default Загрузить еще публикации
    == Slim::Template.new("footer.slim").render