doctype html
html
  head
    == Slim::Template.new("head.slim").render
  body
    == Slim::Template.new("navbar.slim").render
    .container-fluid.borderbot.bordertop
      .container.main_inner
        .row.inner
          .col-xs-3.left-sidebar
            == Slim::Template.new("left_menu.slim").render
          .col-xs-9.text.main-side
            ol.breadcrumb
              li: a[href="#"] Главная
              li: a[href="#"] Словарь
              li: a[href="#"] Аллергология
              li.active Когда стоит посетить акушера-гинеколога?
            h1.text-left Когда стоит посетить акушера-гинеколога?
            p Деятельность акушера-гинеколога направлена на изучение полного спектра процессов, протекающих в теле женщины. Однако, основной его специализацией считается ведение беременности и родов. Помимо этого, в его компетенцию входят: поддержка репродуктивного здоровья женщины, предупреждение выкидышей и недоношенности, борьба с возможными осложнениями в течение беременности, родов, а так же послеродового периода.
            p Это требует немалой квалификации, и на нашем сайте вы можете посмотреть отзывы о врачах, чтобы получить уверенность в наличии необходимых умений и навыках у выбранного специалиста. Записаться на прием к доктору так же просто, достаточно указать свое имя и номер телефона для обратной связи.
            p Обязанностями акушера-гинеколога являются: слежение за развитием плода на этапе беременности, обнаружение патологий его формирования, наблюдение за размещением ребенка в утробе, определение времени беременности и родов, планирование протекания родов. Акушер-гинеколог обязан подготовить госпитализацию женщины при обнаружении неправильного положения плода, патологии тазовых органов, противопоказаний для естественных родов, а так же рекомендовать при необходимости стимуляцию процесса родов, либо выполнение кесарева сечения.
            p Это требует немалой квалификации, и на нашем сайте вы можете посмотреть отзывы о врачах, чтобы получить уверенность в наличии необходимых умений и навыках у выбранного специалиста. Записаться на прием к доктору так же просто, достаточно указать свое имя и номер телефона для обратной связи.
            p Обязанностями акушера-гинеколога являются: слежение за развитием плода на этапе беременности, обнаружение патологий его формирования, наблюдение за размещением ребенка в утробе, определение времени беременности и родов, планирование протекания родов. Акушер-гинеколог обязан подготовить госпитализацию женщины при обнаружении неправильного положения плода, патологии тазовых органов, противопоказаний для естественных родов, а так же рекомендовать при необходимости стимуляцию процесса родов, либо выполнение кесарева сечения.
            h2 Когда стоит обратиться к акушеру-гинекологу123
            p Следует в обязательном порядке записаться на прием к акушеру-гинекологу:
            ul
              li В случае планирования беременности;
              li при появлении симптомов беременности – отсутствие месячных, перемена вкуса, предпочтений в еде, тошнота, набухание груди;
              li если факт беременности уже подтвержден – для наблюдения в период беременности, для получения направлений на необходимые анализы, а так        же - больничного листа для утверждения декретного отпуска;
              li для отправки в роддом и проведения родов, в случае приближения родового периода;
              li в случае обнаружения вероятности появления выкидыша или невынашивания – наличие спазмов, выделений с кровью, боли в животе;
              li при всевозможных ухудшениях самочувствия во время беременности – частые головокружения, обострение токсикоза, появление головных болей;
              li в случае проявления симптоматики болезней, нередко сопутствующих беременности, таких как анемия, геморрой, молочница;
              li если в период беременности возникла болезнь инфекционного характера, способная нанести вред здоровью матери или плода – половые инфекции, свинка, грипп, краснуха и другие;
              li в случае самопроизвольного аборта (выкидыша).
              li при всевозможных ухудшениях самочувствия во время беременности – частые головокружения, обострение токсикоза, появление головных болей;
              li в случае проявления симптоматики болезней, нередко сопутствующих беременности, таких как анемия, геморрой, молочница;
              li если в период беременности возникла болезнь инфекционного характера, способная нанести вред здоровью матери или плода – половые инфекции, свинка, грипп, краснуха и другие;
              li в случае самопроизвольного аборта (выкидыша).
            h2 Как часто нужно являться на прием к акушеру-гинекологу?
            p Количество посещений врача акушера-гинеколога в основном зависит от срока беременности.
            ul
              li В ранние периоды беременности к специалисту надлежит приходить примерно раз в месяц;
              li С тринадцатой недели беременности (со второго триместра, иными словами), посещать врача лучше всего два раза в месяц;
              li Приблизительно за месяц до родов на осмотр стоит ходить каждую неделю.
            p На приеме врач устраивает диагностику, с анализами на генетические заболевания и УЗИ включительно, и, конечно, проверяет жизнеспособность плода. Ознакомившись с отзывами о акушерах-гинекологах на нашем сайте, вы сможете выбрать надежного специалиста, которому стоит доверить это ответственное и непростое дело.
            p На приеме врач устраивает диагностику, с анализами на генетические заболевания и УЗИ включительно, и, конечно, проверяет жизнеспособность плода. Ознакомившись с отзывами о акушерах-гинекологах на нашем сайте, вы сможете выбрать надежного специалиста, которому стоит доверить это ответственное и непростое дело.
            p.note
              em Данная статья размещена исключительно в познавательных целях и не является научным материалом или профессиональным медицинским советом.
            h2.best_doc Лучшие врачи
            hr
            .btn.btn-default.btn-block.show_more Показать еще врачей
    == Slim::Template.new("footer.slim").render