script src="js/jquery.min.js"
script src="js/bootstrap.min.js"
script src="js/jquery.formstyler.min.js"
script src="js/chosen.jquery.js"
script src="js/main.js"
script src="js/ie10-viewport-bug-workaround.js"